.note-content,#notes-lists,.note-header,.note-buttons{
    display: flex;
}
#notes-lists{
 width: 100vw;
 flex-wrap: 1;
}
.note{
    border:1px solid    rgb(44, 18, 104);
    max-width: 25%;
    margin-left: 15px;
    padding: 10px;
}
.note-content-left img{
    max-height: 100px;
    width: 100px;
    size:auto;
}
.note-content-left{
    text-align: center;
}
.note-content-right{
    padding: 10px;
    overflow: auto;
}
.note-buttons{
    text-align: right;
    width: 100%;
}
.note-buttons img{
    width: 48px;
    height: 48px;
}
.note-buttons :empty,.note-titre{
    flex-grow: 1;
}
.note-titre{
    text-align: center;
}
