/* #messages-list, */
.note-content,
.note-header,
.note-buttons {
  display: flex;
}

body{
    background-color: rgba(169, 169, 169, 0.473);
}

#messages-list {
  width: 100vw;
  /* flex-wrap: 1; */
  /* flex-flow: row wrap;
  justify-content: center; */
  text-align: center;
}
.note {
  border: 2px solid white;
  max-width: 25%;
  margin-left: 15px;
  padding-bottom:10px;
  max-height: 340px;
  min-width: 20vw;
  margin-bottom: 20px;
  display: inline-block;
  
}
.note-content-left img {
  max-height: 80px;
  width: 80px;
  size: auto;
}
.note-content-left {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap ;
}
.note-content-right{
    padding:10px;
    overflow-y: auto;
    max-height: 230px;
}
 .empty,
.note-titre {
  flex-grow: 1;
}
.note-titre {
  text-align:left;
  font-size: 20px;
  font-weight: 900;
  vertical-align: middle;
}
.note-buttons img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.note-buttons {
  text-align: right;
  /* width: 100%; */
  border-bottom: 1px solid white;
  background-color: blue;
  padding : 4px 10px;
}
.note-header{
  /* padding-top: 5px;
  margin-bottom:15px; */
  padding: 10px;
}
.note-date
{
  font-weight: 900;
  font-style: italic;
}
.note-priority{
    font-weight: 900;
    font-size: larger;
    padding : 0 15px;
}
.note-datepost{
  /* margin-bottom: 20px; */
}
.note-content{
  padding :0 10px
}
body{
  background-image: url(../img/bg2.jpg);
  color: white;
  height: 99vh;
  width:100%;
}
.note{
  color:white;
}
#jsLoaded{
    background-color: tomato;
    color: white;
    font-weight: 900;
    font-size: 28pt;
    text-align: center;
}

